.restaurant-page {
	background: url('../images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	margin-top: -58px;
}

.restaurant-card {
	height: auto;
	margin: 10px 5%;
	color: white;
}

.restaurant-card-body {
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
}
.distance-text {
	font-size: 0.8rem;
}

.restaurant-img-slider {
	overflow-x: auto;
}

::-webkit-scrollbar {
	display: none;
}
.single-restaurant-card {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	padding: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	height: auto;
}

.edit-restaurant-card {
	backdrop-filter: blur(11.2px);
	color: white;
	height: auto;
	background: rgba(255, 255, 255, 0.2);
}

.restaurant-subtitle {
	// font-size: 1.2rem;
	font-weight: 600;
	margin-right: 5px;
}

@media (min-width: 769px) {
	.restaurant-card {
		height: 60vh;
		margin: 20px 5%;
	}
	.single-restaurant-card {
		height: 50vh;
		margin: 20px 5%;
	}
}

@media (min-width: 993px) {
	.restaurant-card {
		margin: 100px 5%;
	}

	.single-restaurant-card {
		margin: 100px 5%;
		height: 400px;
	}
}
