.custom-toast {
	backdrop-filter: blur(13.2px);
	background: transparent;
	-webkit-backdrop-filter: blur(11.2px);
	color: #fff;
}

.custom-toast-progress {
	height: 4px;
	background-color: #007bff;
}
