.login-page {
	background: url('../images/ikhsan-baihaqi-4QXE7YQy7eo-unsplash\ \(1\).jpg');
	background-size: cover;
	margin-top: -58px;
	min-height: 100vh;
}

.card {
	backdrop-filter: blur(11.2px);
	background-color: transparent;
	-webkit-backdrop-filter: blur(11.2px);
	border: none;
	height: 100vh;
}
.login-card {
	padding: 200px 57px 0;
}

.reset-card {
	height: auto;
	padding: auto;
	background-color: rgba(255, 255, 255, 0.2);
}

.reset-btn {
	cursor: pointer;
	font-style: italic;
	color: #afaeae;
}
.modal-content {
	background: transparent;
}

.signup-card {
	padding: 100px 57px 0;
	height: 100vh;
}

.transparent-navbar {
	z-index: 2;
	backdrop-filter: none;
}

.form-card {
	flex: 0;
}

.form {
	input,
	select,
	textarea {
		border: none;
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 10px;
	}

	input::file-selector-button {
		font-weight: 600;
		background-color: rgba(255, 255, 255, 0.4);
	}

	input[type='email'],
	input[type='password'],
	input[type='text'],
	input[type='password'] {
		color: black;
		&::placeholder {
			color: #494949;
		}
		&:active,
		&:focus {
			// background:
			border: none;
			box-shadow: none;
			border-bottom: 1px solid white;
			// color: white;
		}
	}

	.form-btn {
		background: #913728;
		border: none;
		padding: 0.376rem 0.75rem;
	}
}

.forgot-password-page {
	background-color: transparent;
}

.edit-profile {
	background: url('../images/monika-grabkowska-P1aohbiT-EY-unsplash\ \(1\).jpg');
	background-size: cover;
	margin-top: -58px;
	min-height: 100vh;
}

.edit-card {
	padding: 100px 57px 0;
}
