@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
@import 'tableStyles';
@import 'userforms';
@import 'dropzone';
@import 'restaurants';

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: #192332;
}

.standard-navbar {
	backdrop-filter: blur(11.2px);
	// background: rgba(0, 0, 0, 0.7);
	background: transparent;
	-webkit-backdrop-filter: blur(11.2px);
	box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.29);
	z-index: 2;
}

// .dropdown-menu.show {
// 	background: rgba(0, 0, 0, 0.3);
// }

.dropdown-item.active {
	background: rgba(0, 0, 0, 0.3);
	// backdrop-filter: blur(11.2px);
}

.invalid {
	color: red;
}

.valid {
	color: green;
}

.btn {
	color: white;
}

.search {
	position: absolute;
	width: 350px;
	padding: 20px;
	top: 10vh;
	left: 10px;
	z-index: 1046;
	border-radius: 10px;
}

.profileImage {
	aspect-ratio: 1;
	object-fit: cover;
}

.search-input {
	background: rgba(255, 255, 255, 0.09);
	// border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border: 1px solid transparent;
	width: 240px;
	height: 38px;
	padding: 0 12px;
	border-radius: 3px;
	// box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	outline: none;
	text-overflow: ellipsis;
	position: absolute;
	right: 8%;
	top: 67px;
	margin-left: -120px;

	input[type='text'] {
		color: #000;
	}
}

.my-position-btn{
	z-index: 9999;
	top: 67px;
	right: 30%;
	height: 38px;
	position: absolute;
	background: rgba(255, 255, 255, 0.09);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.restaurant-img {
	object-fit: cover;
	padding: 10px;
	border-radius: 1rem;
	aspect-ratio: 1;
	max-width: 100%;
	max-height: 100%;
}

.mobile-carousel {
	position: fixed;
	right: 0px;
	margin: 20px 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	color: white;
	overflow-x: scroll;
}

.restaurant-icons {
	a .svg-inline--fa,
	button .svg-inline--fa,
	.btn {
		// width: 16px;
		// height: 16px;
		padding: 0 6px 0 0;
	}
}
.card-text {
	margin: 5px 0px 5px 0px;
}

.slider-restaurant-card {
	height: 186px;
	background: rgba(255, 255, 255, 0.09);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: none;
	margin: 10px 10px;
}
.card-title {
	font-size: 1.3rem;
	text-transform: capitalize;
	font-weight: 600;
}
.offcanvas.offcanvas-start {
	border-right: none;
	top: 56px;
}
.custom-offcanvas {
	background-color: transparent;

	::-webkit-scrollbar {
		display: none;
	}
}

.suggestions {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid rgba(255, 255, 255, 0.3);
	position: absolute;
	width: 240px;
	right: 8%;
	top: 107px;
	background-color: white;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
