@import 'bootstrap/scss/bootstrap';
@import 'tableStyles';

.invalid {
	color: red;
}

// .map-btn {
// 	position: absolute;
// 	top: 50vh;
// 	z-index: 2;
// }

.search {
	position: absolute;
	width: 350px;
	padding: 20px;
	top: 10vh;
	left: 10px;
	z-index: 1046;
	border-radius: 10px;
}

.profileImage {
	aspect-ratio: 1;
	object-fit: cover;
}

.search-input {
	// background: white;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.09);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border: 1px solid transparent;
	width: 240px;
	height: 38px;
	padding: 0 12px;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	outline: none;
	text-overflow: ellipsis;
	position: absolute;
	right: 8%;
	top: 11px;
	margin-left: -120px;

	// input {
	// 	background: rgba(255, 255, 255, 0.09);
	// 	border-radius: 4px;
	// 	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	// 	color: black;
	// 	/* backdrop-filter: blur(12.7px); */
	// 	-webkit-backdrop-filter: blur(12.7px);
	// 	border: none;
	// }

	input[type='text'] {
		color: #fff;
	}
}

.restaurant-img {
	object-fit: cover;
	aspect-ratio: 1;
	border-radius: 5px 0px 0px 5px;
}

.restaurants-card {
	// box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
